<section id="history" class="section">
  <h2 class="section-title"><span>Historical</span></h2>
  <div class="history-content card-hover">
    <div class="timeline">
      <div class="timeline-item slide-in">
        <div class="timeline-date">2021</div>
        <div class="timeline-content">
          <h3>The Founding</h3>
          <p>EternalSMP terbuat karena ReynaryPE selaku founder merasa dendam terhadap perlakuan admin di server tempatnya dahulu</p>
        </div>
      </div>
      <div class="timeline-item slide-in">
        <div class="timeline-date">2024</div>
        <div class="timeline-content">
          <h3>theme Majority</h3>
          <p>Main theme : medieval, steampunk, modern</p>
          <p>Sub theme : fantasy, gothic, Renaissance, apocalypse, adventure, colonialism</p>
        </div>
      </div>
      <div class="timeline-item slide-in">
        <div class="timeline-date">2025</div>
        <div class="timeline-content">
          <h3>New Era</h3>
          <p>EternalSMP Season 14 merupakan era baru yang tidak pernah ada di eternal sebelumnya dengan konsep-konsep yang lebih kompleks dari season sebelumnya</p>
        </div>
      </div>
    </div>
  </div>
</section>
